body {
    background: linear-gradient(gray, green);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    overflow: hidden;
}

.block {
    background-color: coral;
    width: 100px;
    height: 100px;
}
.wrap{
    margin: 0 auto;
    width:1100px; 
    border:3px dashed rebeccapurple;
    padding: 50px;
    height:500px ;
}
.block2 {
    background-color: rgb(65, 78, 136);
    width: 100px;
    height: 100px;
}

p,
#position {
    font-size: 1.5em;
    color: antiquewhite;
}

p {}

canvas {
    z-index: 2;
    cursor: pointer;
}

#cursor {
    width: 50px;
    height: 50px;
    background: linear-gradient( rgb(117, 126, 121), rgb(76, 187, 141));
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}

#pool {
    width: 330px;
    height: 300px;
    border: 4px solid gray;
    position: absolute;
    right: 10%;
    top: 1%;
    z-index: 0;
}