body {
    background: linear-gradient(gray, green);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    overflow: hidden;
}

.block {
    background-color: coral;
    width: 100px;
    height: 100px;
}

.block2 {
    background-color: rgb(65, 78, 136);
    width: 100px;
    height: 100px;
}

p,
#position {
    font-size: 1.5em;
    color: antiquewhite
}

canvas {
    z-index: 1;
}

#cursor {
    width: 50px;
    height: 50px;
    background: linear-gradient( rgb(117, 126, 121), rgb(76, 187, 141));
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}